body{
  overflow-x: hidden;
  background-image: url("../images/MBackground.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.wrapper{
  padding-top: 413px;
  padding-left: 276px;
}
.menu-area{
  list-style: none;
  margin: 0;
  width: 250px;
}
.menu-area li{
  position: relative;
}
.menu-area li a{
  text-align: center;
  height: 36px;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: aliceblue;
}
.menu-area li a strong{
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.menu-area li:hover > a{
  color: rgb(59, 59, 59);
}
@media(max-width:500px){
  body{
    background-image: url("../images/MBackground1.png");
    background-size: cover;
  }
  .wrapper{
    padding-top: 0px;
    padding-left: 0px;

  }
}