body{
  overflow-x: hidden;
  background-image: url("../images/MBackground.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.wrapper{
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  clear: both;
}
.menu-area{
  list-style: none;
  padding: 282px;
  margin: 0;
  width: 250px;
}
.menu-area li{
  position: relative;
}
.menu-area li a{
  text-align: center;
  height: 36px;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: aliceblue;
}
.menu-area li a strong{
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.menu-area li:hover > a{
  color: rgb(59, 59, 59);
}

  @media(max-width:1440px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:1366px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:1280px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:1080px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:1024px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:991px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:900px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:800px){menu-area {
    font-size: 2em;
    letter-spacing: 1px;
  }
  body{
    background: url("../images/MBackground1.png");
  }
  }
  @media(max-width:768px){menu-area {
    font-size: 2em;
    letter-spacing: 1px;
  }
  body{
    background: url("../images/MBackground1.png");
  }
  }
  @media(max-width:767px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:667px){menu-area {
    font-size: 2em;
    letter-spacing: 1px;
  }
  body{
    background: url("../images/MBackground1.png");
  }
  }
  @media(max-width:640px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:100em){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:568px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:480px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:414px){
    .menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  @media(max-width:384px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:375px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  @media(max-width:320px){
    menu-area {
      font-size: 2em;
      letter-spacing: 1px;
    }
    body{
      background: url("../images/MBackground1.png");
    }
  }
  





}
